setuptools==75.8.0
urllib3==2.4.0
hydra-core==1.3.2
triton==2.2.0
python-dateutil==2.9.0.post0
portalocker==3.1.1
gitdb==4.0.12
seaborn==0.13.2
matplotlib==3.10.3
sentry-sdk==2.26.1
mypy_extensions==1.1.0
tqdm==4.67.1
h5py==3.13.0
pip==25.0
wheel==0.45.1
pyre-extensions==0.0.23
av==14.3.0
pydantic_core==2.33.1
Jinja2==3.1.4
packaging==25.0
wandb==0.19.10
tzdata==2025.2
charset-normalizer==3.4.1
threadpoolctl==3.6.0
joblib==1.4.2
protobuf==6.30.2
nvidia-cublas-cu11==11.10.3.66
fvcore==0.1.5.post20221221
smmap==5.0.2
nvidia-cuda-nvrtc-cu11==11.7.99
MarkupSafe==2.1.5
idna==3.10
typing_extensions==4.13.2
filelock==3.18.0
parameterized==0.9.0
antlr4-python3-runtime==4.9.3
fonttools==4.57.0
pydantic==2.11.3
annotated-types==0.7.0
pyparsing==3.2.3
pytorchvideo==0.1.5
requests==2.32.3
iopath==0.1.10
torchaudio==0.13.1
certifi==2025.1.31
sympy==1.13.1
torchvision==0.14.1
opencv-python==4.11.0.86
nvidia-cuda-runtime-cu11==11.7.99
platformdirs==4.3.7
omegaconf==2.3.0
PyYAML==6.0.2
cycler==0.12.1
xformers==0.0.16
nvidia-cudnn-cu11==8.5.0.96
pillow==11.0.0
einops==0.8.1
termcolor==3.0.1
psutil==7.0.0
six==1.17.0
torch==1.13.1
numpy==1.26.4
click==8.1.8
typing-inspect==0.9.0
contourpy==1.3.2
pytz==2025.2
scikit-learn==1.6.1
networkx==3.4.2
kiwisolver==1.4.8
docker-pycreds==0.4.0
pandas==2.2.3
scipy==1.15.3
setproctitle==1.3.5
tabulate==0.9.0
typing-inspection==0.4.0
mpmath==1.3.0
GitPython==3.1.44
yacs==0.1.8
